.DS_store
*.ipynb
.ipynb_checkpoints/
__pycache__/

*metadata.csv
top*.pbtxt
top*.tfrecord
top*.config

snippets/
aux_sign_data/
images_ppm/
images_jpg/
pretrained_gzips/
ssd_mobilenet_v1_coco_2017_11_17/
