.DS_store
*.ipynb
.ipynb_checkpoints/
.python-version
__pycache__/


data/*
!data/images/
data/images/*
!data/images/README.md

metadata/*
!metadata/GTSDB_readme.txt
!metadata/GTSDB_raw_metadata.txt


models/pretrained_gzips/

models/ssd_mobilenet_v1_coco_2017_11_17/*
!models/ssd_mobilenet_v1_coco_2017_11_17/local_parameters.json
!models/ssd_mobilenet_v1_coco_2017_11_17/cloud_parameters.json
!models/ssd_mobilenet_v1_coco_2017_11_17/cloud_pipeline.config
!models/ssd_mobilenet_v1_coco_2017_11_17/template.config
!models/ssd_mobilenet_v1_coco_2017_11_17/README.md


snippets/


training/*
!training/README.md
